img {
  // display: block;
  padding-left: 35em;
  padding-right: 35em;
  margin-right: auto;
  margin-left: auto;
  width: 10%;
  height: 3.5%;
}

.searchIcon {
  padding: unset;
  padding-left: 3px;
  width: 15px;
  height: 15px;
}

.navbarOption {
  outline: none;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  outline: none;
  color: #282828;
  font-size: 1.0rem;
  text-decoration: none;
  vertical-align: middle;
}

.mr {
  margin-right: 1.2rem;
}

.navbarOption:hover {
  color: #01a54e;
}

